
.vs/config/applicationhost.config
.vs/PaperMID_v2.4/v15/.suo
.vs/PaperMID_v2.4/v15/Server/sqlite3/storage.ide
PaperMID/bin/PaperMID.dll
.vs/PaperMID_v2.4/v15/Server/sqlite3/storage.ide
PaperMID/bin/PaperMID.pdb
PaperMID/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PaperMID/obj/Debug/PaperMID.csproj.CoreCompileInputs.cache
PaperMID/obj/Debug/PaperMID.csprojResolveAssemblyReference.cache
PaperMID/obj/Debug/PaperMID.pdb
PaperMID/obj/Debug/PaperMID.dll
.vs/PaperMID_v2.4/v15/.suo
.vs/PaperMID_v2.4/v15/Server/sqlite3/storage.ide
PaperMID/bin/PaperMID.pdb
PaperMID/obj/Release/_WPPLastBuildInfo.txt
PaperMID/obj/Release/Package/PackageTmp/bin/PaperMID.dll
PaperMID/obj/Release/Package/PackageTmp/bin/PaperMID.pdb
PaperMID/obj/Release/PaperMID.csproj.CoreCompileInputs.cache
PaperMID/obj/Release/Package/PaperMID.SourceManifest.xml
PaperMID/obj/Release/PaperMID.dll
PaperMID/obj/Release/PaperMID.pdb
