.btn-cancelar {
    background-color: #f44336;
    color: #ffffff;
    font-family: roboto !important;
    font-size: 15px !important;
    border: 1px solid #f44336;
}

.btn-aceptar {
    background-color: #CDDC39;
    color: #ffffff;
    font-family: roboto !important;
    font-size: 15px !important;
    border: 1px solid #CDDC39;
}

.btn-modal-logout {
    width: 155px;
    display: inline-block;
    float: left !important;
}

.btn-formulario {
    background-color: #5bc0de;
    color: #ffffff;
    font-family: roboto !important;
    font-size: 15px !important;
    border: 1px solid #5bc0de;
}
.btn-t-m {
    background-color: #CDDC39;
    color: #ffffff;
    font-family: roboto !important;
    font-size: 15px !important;
    border: 1px solid #CDDC39;
}
.modal-texte {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.raised {
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}.texte-centre{
    text-align:center !important;
}

.lbl-formulario {
    color: #67757c !important;
}
.error {
    color: #f44336 !important;
}