
@{
    ViewBag.Title = "Egresos";
    Layout = "~/Views/Shared/_LayoutAdministrador.cshtml";
}
<div class="row page-titles">
    <div class="col-md-5 col-8 align-self-center">
        <h3 class="text-themecolor m-b-0 m-t-0">Administrador</h3>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Inventario</a></li>
            <li class="breadcrumb-item active">Egresos</li>
        </ol>
    </div>
    <div class="col-md-7 col-4 align-self-center">
        <button onclick="OuvrirRevenus();" class="btn waves-effect waves-light btn-info pull-right hidden-sm-down" style="color:white !important;"><i class="fa fa-plus-circle"></i> Nueva Promoción</button>
    </div>
</div>

